pandas>=2.0
numpy
scikit-learn
joblib
matplotlib
xgboost
lightgbm
catboost
aiohttp>=3.9
asyncpg>=0.29
sqlalchemy[asyncio]>=2.0
apscheduler>=3.10
aiogram>=3.4
torch>=2.1
pydantic-settings>=2.0
python-dotenv>=1.0
ccxt
pybit
pyarrow

# Dashboard
streamlit>=1.30
streamlit-lightweight-charts>=0.7.20
plotly>=5.18
psycopg2-binary>=2.9
